body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

button, input, select, textarea {
    font-size: 100%;
    font: inherit;
    border: 0;
    outline: 0;
}

a {
    color: #333;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
@font-face {
    font-family: adequateFont;
    src: url('./font-map/Adequate-ExtraLight.eot'),
         url('./font-map/Adequate-ExtraLight.eot');
}